<div class="page-header">
  <h1><%= @cat.name %></h1>
</div>

<h3>This cat's toys are...</h3>

<div class="well">
  <em><% toy_collection = @cat.toys.to_a %> </em>
      <% toy_collection.each do |t| %>
        <p><%= t.name %></p>
      <% end %>
</div>
